.country{
    border: 5px solid rgb(104, 217, 104);
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    bottom: 5px;
    
      
    
}
 .pp{
    margin: 0;
    padding: 0;
 }

 .country-visited{
   background-color: rgb(63, 63, 165);

 }